@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.bodyTodo {
  display: flex;
  justify-content: space-between;

  max-width: 730px;
  /* border: 1px solid red; */
  margin: 10px auto;

  gap: 10px;
  padding: 5px;
  margin-top: calc(5vh + 70px);
}

.bodyTodo hr {
  background: linear-gradient(
    180deg,
    rgb(16, 234, 238) 0%,
    rgba(253, 187, 45, 1) 100%
  );

  width: 3px;
  background-color: #22c1c3;
  border: none;
  margin: 10px 0;
  border-radius: 10px;
  margin-left: 10px;
}

.bodyTodo h2 {
  font-family: 'Pacifico', cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

@media (max-width: 500px) {
  .bodyTodo h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    white-space: nowrap;
    margin-bottom: 5px;
  }
  .bodyTodo {
    gap: 0px;
    padding: 5px;
  }
  .bodyTodo hr {
    width: 2px;
    margin-left: 6px;
    margin: 2px 0;
  }
}
