* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  /* background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(89, 91, 231, 1) 14%,
    rgba(125, 86, 203, 1) 33%,
    rgba(252, 70, 107, 1) 100%
  ); */

  background-color: #0456b1;
}
